node_modules/
.expo/
.vscode
npm-debug.*
yarn-error.log
.DS_Store

ios/build
ios/*.xcodeproj/*
!ios/*.xcodeproj/project.pbxproj

android/build
android/app/build
android/app/*.keystore
android/local.properties
android/.gradle
android/.idea
android/app/app.iml